/* Generic containers, setting same background color */
body {
  color: #E9EEDE;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: normal;
}
.remark-container,
.remark-slide-content {
  background-color: #90A959;
  font-size:1.5rem;
}
/* .remark-slide-content { */
/*   background:#121212; */
/*   font-size:1.5rem; */
/* } */

